<div class="fixed" id="side-navbar">
  <fa-icon
    *ngFor="let nav of navbarItems"
    class="navbar-icon"
    [icon]="nav.icon"
    [routerLink]="nav.route"
    [matTooltip]="nav.label"
    matTooltipPosition="right"
  >
  </fa-icon>

  <div id="footer-icons">
    <a target="_blank" href="https://www.linkedin.com/in/jeffrey-buehler/">
      <fa-icon [icon]="faLinkedin" class="footer-icon" />
    </a>
    <a target="_blank" href="https://github.com/buehlerj">
      <fa-icon [icon]="faGithub" class="footer-icon" />
    </a>
  </div>
</div>

<div class="inline-block" id="router-body">
  <router-outlet />
</div>
