<div id="side-navbar">
  <fa-icon [icon]="faIdBadge" routerLink="/" class="navbar-icon" />
  <fa-icon [icon]="faFile" routerLink="/work" class="navbar-icon" />
  <fa-icon [icon]="faServer" routerLink="/projects" class="navbar-icon" />

  <div id="footer-icons">
    <a target="_blank" href="https://www.linkedin.com/in/jeffrey-buehler/">
      <fa-icon [icon]="faLinkedin" class="footer-icon" />
    </a>
    <a target="_blank" href="https://github.com/buehlerj">
      <fa-icon [icon]="faGithub" class="footer-icon" />
    </a>
  </div>
</div>

<div id="router-body">
  <router-outlet />
</div>
