<div class="inline-block full-width" id="personal-projects">
  <div *ngFor="let project of projects" class="personal-project-container">
    <div>
      <a
        *ngIf="project.link; else noLinkLabel"
        target="_blank"
        [href]="project.link"
      >
        <h1 class="inline-block">{{ project.label }}</h1>
      </a>
      <ng-template #noLinkLabel>
        <h1 class="inline-block">{{ project.label }}</h1>
      </ng-template>
      <a target="_blank" [href]="project.githubLink">
        <fa-icon [icon]="faGithub" class="pointer github-icon"></fa-icon>
      </a>

      <div class="job-references-list">
        <img
          *ngFor="let tech of project.technologies"
          src="/{{ tech.icon }}"
          class="tech-icon"
          matTooltip="{{ tech.label }}"
        />
      </div>

      <ng-container
        *ngFor="let description of project.descriptions; let index = index"
      >
        <ng-container *ngIf="index % 2 === 0; else oddDescription">
          <ng-container
            [ngTemplateOutlet]="personalProjectDetailsImageFirst"
            [ngTemplateOutletContext]="{
              description: description.text,
              image: description.image
            }"
          />
        </ng-container>
        <ng-template #oddDescription>
          <ng-container
            [ngTemplateOutlet]="personalProjectDetailsDetailsFirst"
            [ngTemplateOutletContext]="{
              description: description.text,
              image: description.image
            }"
          />
        </ng-template>
      </ng-container>
    </div>
  </div>

  <ng-template
    #personalProjectDetailsImageFirst
    let-description="description"
    let-image="image"
  >
    <div
      class="grid personal-project-description personal-project-description-even"
      *ngIf="description"
    >
      <img class="full-width" [src]="image" />
      <div>{{ description }}</div>
    </div>
  </ng-template>
  <ng-template
    #personalProjectDetailsDetailsFirst
    let-description="description"
    let-image="image"
  >
    <div
      class="grid personal-project-description personal-project-description-odd"
      *ngIf="description"
    >
      <div>{{ description }}</div>
      <img class="full-width" [src]="image" />
    </div>
  </ng-template>
</div>
