$aboutMeBackground: #D5D5BD;
$aboutMeColor: #4C4C4C;

$workExperienceBackground: #4C4C4C;
$workExperienceColor: #ECE9E0;

$personalProjectsBackground: #ECE9E0;
$personalProjectsColor: #4C4C4C;

$navbarBackground: #989373;
$mainColor: #4c4c4c;

body {
  position: absolute;
  color: $mainColor;
  margin: 0;
  font-family: "Lato", Roboto, "Helvetica Neue", sans-serif !important;
  font-style: normal;
}

a {
  color: #045f75;
  text-decoration: none;
  transition: 125ms linear color;

  &:hover {
    color: #088dad;
  }
}

// Globals
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.inline-block {
  display: inline-block;
}

.pointer {
  cursor: pointer;
}

// Grid
.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}
