$aboutMeBackground: #d5d5bd;
$aboutMeColor: #4c4c4c;

$workExperienceBackground: #4c4c4c;
$workExperienceColor: #ece9e0;

$personalProjectsBackground: #e0dbcc;
$personalProjectsColor: #4c4c4c;

$homelabBackground: #c2c2c2;
$homelabColor: #4c4c4c;

$navbarBackground: #989373;
$mainColor: #ece9e0;

$linkColor: #045f75;
$linkColorHover: #088dad;

body {
  position: absolute;
  color: $mainColor;
  margin: 0;
  font-family: "Lato", Roboto, "Helvetica Neue", sans-serif !important;
  font-style: normal;
  width: 100%;
}

a {
  color: $linkColor;
  text-decoration: none;
  transition: 125ms linear color;

  &:hover {
    color: $linkColorHover;
  }
}

// Scrollbar
::-webkit-scrollbar {
  height: 9px;
  width: 7px;
  background: transparent
}
::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0.5);
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:horizontal {
  background: linear-gradient(to right, rgb(29 163 249 / 77%), rgb(172 7 172 / 53%))
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(29 163 249 / 77%), rgb(172 7 172 / 53%))
}

// Globals
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.inline-block {
  display: inline-block;
}

.pointer {
  cursor: pointer;
}

// Grid
.grid {
  display: grid;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

// Utils
.full-width {
  width: 100%;
}

//
.job-references-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.tech-icon {
  height: 70px;
}

// Tooltips
::ng-deep .cdk-overlay-pane {
  position: fixed;
  background-color: darken($navbarBackground, 20);
  border-radius: 6px;
}
